<a href="../../app/menu-page/menu-page.component.html" style="font-size:40px; text-decoration:none"class="previous">&#8592; </a>

<div style="text-align: center;" class="control">
    <button class="button" style="background-color:rgb(255, 255, 255);border-radius: 6%;">
        <div class="logo">
        <p style="color:rgb(0, 0, 0);font-size:20px">Blackened Salmon, Berry, and Beet Salad </p>
      </div>
        <p style="color:rgb(0, 0, 0);font-size:12px"> Insert [review, rating, description...]  </p>
    </button>
  </div>